
.modalTitle {
    text-align: center;       /* 标题居中 */
    color: #1890ff;           /* 蓝色 */
    font-weight: bold;        /* 加粗 */
}


.register-container {
    max-width: 520px;
    margin: 60px auto;
    background: #fff;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0 2px 8px #f0f1f2;
}

.register-title {
    text-align: center;
    margin-bottom: 24px;
}

.form-item-center {
    text-align: center;
}

.register-button {
    width: 200px;
}